*{margin:0px;
padding:0px;
box-sizing:border-box;
font-family:verdana;
cursor:url(../imagenesw/purpel.cur),auto;}
a{text-decoration:none;
color:white}

body {
	background-image: url("../imagenesw/fondo.jpg");
background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
   background-attachment: fixed;
}
#contenedor {width:100%;
			height:100%;
			position:relative;
			
			}
#titulo {
			position:absolute;
			text-align:center;
			top:15px;
			left:600px;
			width:500px;
			height:200px;
			font-size:20px;
	
}
#boton{position:relative;
		bottom:40px;
		left:110px;
		width:280px;
		height:80px;
		font-size:15px;
		background-color:#EFB418;
		color:white;
		padding:5px;
		padding-left:20px}

#boton:hover{background-color:#F0E7B7;}